html, body, main {
    background-color: var(--dark) !important;
    height: 100vh;
    overflow: hidden !important;
}

#__layout {
    text-align: center;
}

main {
    width: 75rem;
    display: inline-flex;
}

@media screen and (max-width: 75rem){
    main {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }
}

.component-page {
    text-align: left;
    flex: 1;
    margin: 2rem;
    padding-right: 2rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

@media screen and (max-width: 500px) {
    .component-page {
        margin: 0;
        margin-top: 1rem;
        padding: 0 1.5rem;
    }
}